<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8"/>
	<title>this is home page </title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h2 class="font-weight-bold text-center">Smart Contact Manager</h2>
			<p>
				Store your contact once and access it from anywhere across
				 the world in a smarter way.
			</p>
			<button class="btn text-white bg-primary btn-lg">Get Started</button>
		</div>
		
	</section>
</body>
</html>